
@{
    ViewData["Title"] = "Home Page";
}

<flash dismissable="true" />
<div class="text-center">
    <center><img src="~/images/welcomeTo.png" width="70%" height="100%" /></center>
    
</div>
<div class="text-center">
    @if (User.Identity.IsAuthenticated != true || User.IsInRole("User"))
    {
        <a class="btn btn-outline-primary" asp-controller="Home" asp-action="Shop"><i class="fa-solid fa-store"></i> Tienda</a>
    }
    
    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <a class="btn btn-outline-primary" asp-controller="Products" asp-action="Index"><i class="fa-solid fa-store"></i> Productos</a>
        <a class="btn btn-outline-dark" asp-controller="Dashboard" asp-action="Index"><i class="fa fa-tachometer-alt text-danger"></i> Dashboard</a>
    }

</div>
<br />
<div class="text-center">
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
