@{
    ViewData["Title"] = "Order Success";
}


<div class="row">
    @*<img src="~/images/welcomeTo.png"/>*@
    <div class="text-center">
        <h2><i class="fa-solid fa-circle-check btn-outline-success"></i> Pedido confirmado!!</h2>
        <h4>Muchas gracias su pedido fue registrado en nuestro sistema, recuerda que tu pedido será enviado a la institución educativa que perteneces.</h4>
        <br />  
        <a asp-action="Shop" class="mt-2 btn btn-outline-success">Aceptar</a>
    </div>
</div>
