@model SchoolAdministrator.Models.AddUserViewModel

@{
    ViewData["Title"] = "Register";
}

<h2>Crear</h2>

<h4>Administrador</h4>

<div class="text-success">
    <h3>
        @ViewBag.Message
    </h3>
</div>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="UserType" />
            <input type="hidden" asp-for="Institions" />
            <input type="hidden" asp-for="Levels" />

            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="PasswordConfirm" class="control-label"></label>
                        <input asp-for="PasswordConfirm" class="form-control" />
                        <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <partial name="_User" />

            <div class="form-group mt-2">
                <input type="submit" value="Crear" class="btn btn-outline-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#InstitutionId").change(function () {
            debugger;
            $("#LevelId").empty();
            $("#LevelId").append('<option value="0">[Selecciona un nivel...]</option>');
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetLevels")',
                dataType: 'json',
                data: { InstitutionId: $("#InstitutionId").val() },
                success: function (levels) {
                    $.each(levels, function (i, level) {
                        $("#LevelId").append('<option value="'
                            + level.id + '">'
                            + level.name + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve levels.' + ex);
                }
            });
            return false;
        })

    });
</script>
}   