@model SchoolAdministrator.Data.Entities.Institution



<div class="form-group">
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="InstitutionType" class="control-label"></label>
    <input asp-for="InstitutionType" class="form-control" />
    <span asp-validation-for="InstitutionType" class="text-danger"></span>
</div>