@model SchoolAdministrator.Models.LevelViewModel

@{
    ViewData["Title"] = "Create";
}

<h3><i class="fa-solid fa-circle-plus btn-outline-primary"></i> Crear Nivel</h3>

<hr />
<flash dismissable="true" />
<div class="row">
    <div class="col-md-12">
        <form asp-action="AddLevel">
            
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="InstitutionId" />
            <partial name="_Level"/>
               
            <div class="form-group mt-2">
                <input type="submit" value="Crear" class="btn btn-outline-primary" />
                <a asp-action="Details" asp-route-id="@Model.InstitutionId" class="btn btn-outline-success"><i class="fa-solid fa-arrow-rotate-left"></i> Regresar</a>
            </div>
        </form>
    </div>    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}