@model SchoolAdministrator.Data.Entities.Institution

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>Estás seguro de eliminar?</h3>
<div>
    <h4>Institution</h4>
    <hr />
    <partial name="_InstitutionDetails" />    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-outline-danger" />
        <a asp-action="Index" class="btn btn-outline-success"><i class="fa-solid fa-arrow-rotate-left"></i> Regresar</a>
    </form>
</div>
