@model SchoolAdministrator.Data.Entities.Level

@{
    ViewData["Title"] = "Level Details";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />

<h1>Detalles</h1>

<div>
    <h4>Nivel</h4>
    <hr />
    
    <partial name="_LevelDetails" />

</div>
<div>
    <a asp-action="EditLevel" asp-route-id="@Model?.Id" class="btn btn-outline-warning">Editar Nivel</a>
    <a asp-action="Details" asp-route-id="@Model?.Institution.Id" class="btn btn-outline-success">Regresar</a>
</div>


