@model SchoolAdministrator.Models.LevelViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>
<h4>Nivel</h4>

<hr />
<flash dismissable="true" />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditLevel">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="InstitutionId" />

            <partial name="_Level"/>
            
            <div class="form-group mt-2">
                <input type="submit" value="Guardar" class="btn btn-outline-primary" />
                 <a asp-action="Details" asp-route-id="@Model.InstitutionId" class="btn btn-outline-success"><i class="fa-solid fa-arrow-rotate-left"></i> Regresar</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}