@{
	ViewData["Title"] = "NotAuthorized";
}

<br />
<br />
<center><img src="~/images/denied.png" width="70%" height="70%" /></center>
<br />
<center><h2>No estas autorizado para ejecutar esta acción!</h2></center>

